<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starix.chat.mapper.UserGroupMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.zhiren.doctor.entity.TbGroup">-->
        <!--<id column="group_id" property="groupId" />-->
        <!--<result column="group_name" property="groupName" />-->
        <!--<result column="create_time" property="createTime" />-->
        <!--<result column="update_time" property="updateTime" />-->
        <!--<result column="doctor_id" property="doctorId" />-->
    <!--</resultMap>-->


    <select id="selectUidsFromGroup" resultType="java.lang.String" parameterType="java.lang.String">
        select uid from user_group where group_id = #{groupId}
    </select>

    <select id="selectGroupListWithCount" resultType="com.starix.chat.vo.GroupVO">
        select g.id as groupId, g.group_name as groupName, count(1) as count
        from user_group as ug, `group` as g
        where g.id = ug.group_id
        group by ug.group_id
    </select>


</mapper>
